* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}
main section {
  height: 100%;
  flex-grow: 1;
  background-color: rgb(248, 14, 14);
}