* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.green {
  padding: 20px 30px;
  background-color: orange;
  color: black;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}

.blue {
  padding: 20px 30px;
  background-color: blue;
  color: yellow;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 19px;
}