*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;

    section{
        height: 100%;
        flex-grow: 1;
        background-color: rgb(248, 14, 14);  
    }
    section:nth-child(1){
        background-image: ;
    }
    section:nth-child(2){
        background-image: ;
    }
    section:nth-child(3){
        background-image: ;
    }
    section:nth-child(4){
        background-image: ;
    }
    section:nth-child(5){
        background-image: ;
    }
}