*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    @include flexCenter();

    section{
        height: 50%;
        width: 50%;
        background-color: white;
        flex-direction: column;
        @include flexCenter();

        h1{
            color: black;
        }
    }
}