@import "button";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.green{
    @include button-style(orange,black, 20px);
}
.blue{
@include button-style(blue, yellow, 19px)
}
