*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    section{
        height: 50%;
        width: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            color: black;
        }
    }

}