@font-face {
    font-family: mona;
    src: url(fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
@font-face {
    font-family: regular;
    src: url(fonts/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}
@font-face {
    font-family: semi-bold;
    src: url(fonts/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}
*{
margin:0%;
padding:0%;
box-sizing: border-box;
font-family: mona;
}
html,body{
width: 100%;
height: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.nav{
    width: 100%;
    height: 15%;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.navbar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.navbar h3{
    font-size: 14px;
    font-weight: 600;
    color: #0f0505;
}
.navbar img{
    width: 100px;
    object-fit: cover;
}
.nav-login{
   display: flex;
   align-items: center;
   text-align: center;
   gap: 20px;
}
.nav-login .sign-in{
    border: none;
    font-size: 14px;
    background-color: white;
    font-weight: 600;
}
.nav-login .login{
    background-color: black;
    font-size: 14px;
    font-weight: 700;
    border-radius: 40px;
    padding: 15px 25px;
    color: white;
    border: none;
}
#hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    flex-wrap: wrap;
}
.box1{
    width: 40%;
    
}
.box1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    padding-bottom: 20px;
}
.box1 p{
    font-size: 16px;
    font-weight: 400;
}
.box1 .box1btn{
    display: flex;
    padding: 40px 0px 15px 0px;
    gap: 10px;
}
.imagebtn{
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
     font-size: 13px;
    font-weight: 600;
    background-color: #635a77;
}
.imagebtn i{
    padding-right: 5px;
    font-size: 13px;
    font-weight: 600;
}
.samebtn{
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
}
.box1 .popular-box{
    width: 100%;
}
.box2{
    width: 50%;
    
}
.box2 video{
    width:100%;
}
